table{
margin: 40px;
border-collapse: separate;

}

.nb{
    border: 3px solid black;
    width: 100px;
    border-spacing: 30px;
    margin-left: 20px;

}
.title{

    font-size: 20px;
    font-weight: bold;

}
td{
    margin: 20px;
    padding: 5px;
    text-transform:capitalize;
}